<div class="container">
  <h1 class="my-4">Prompts</h1>

  <div id="prompts">
    <% @prompts.each do |prompt| %>
      <%= render prompt %>
    <% end %>

    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
